@model ShopShopShop.Models.Product

@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Checkout</h2>

<div>
    <h3>Thank you for your purchase.</h3>
</div>

<div>
    <p>@Html.ActionLink("Shop again", "Index")</p>
</div>