@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" id="trolley">
    <h1>ShopShopShop</h1>
    <p class="lead">Take the hassle out of getting your groceries -order online!</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>
            Register with us, and pick the products you want.
        </p>
        <p><input class="btn btn-default" type="button" title="Register" value="Register" onclick="location.href='@Url.Action("Register", "Account")'" /></p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-6">
        <h2>Login</h2>
        <p>Already have an account, login here.</p>
        <p><input class="btn btn-default" type="button" title="Login" value="Login" onclick="location.href='@Url.Action("Login", "Account")'" /></p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    @*<div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>